<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>INFO3180 Flask App - Lab 1</title>
    <link rel="stylesheet" href="/static/css/app.css">
  </head>
  <body>
    <div class="container">
      <h1>How It's Made</h1>
      <p>
        A look behind the scenes at how everyday things are manufactured. 
        Typically each episode includes three to four products featured, 
        with a mix consisting of common items such as jeans, aluminum foil and cereal,
        and less predictable ones like wax figurines, braille typewriters and pinball machines.
        <br><br>
        
        First episode date: January 6, 2001<br>
        Program creator: Gabriel Hoss<br>
        Presented by: Mark Tewksbury, Lynn Herzeg, June Wallack, Lynne Adams<br>
        Genres: Documentary film, Educational film<br>
        Writers: Gabriel Hoss<br>
      </p>
    </div>
  </body>
</html>
